<?xml version="1.0" encoding="utf-8"?>
<book>
  {% set MODULE_FNAME = "heinz_kemmler" %}
  {% set MODULE_NAME = "Heinz Kemmler" %}
 
  <chapter>
    <chaptertitle>{{ MODULE_NAME }}</chaptertitle>
    <section>        
      <sectiontitle>Overview</sectiontitle>

      <p>

Heinz Kemmler
 - Nazi Head of Secret Weapons
 - Has travelled to this time/plane using Die Glocke mid WWII after it has become obvious that Operation Barbarossa has failed..
 - Seeks to mine enough yellowcake, to go back to earlier in the war with research from later in the war.
   Once there and at a later time, he will construct a V2 rocket armed with a nuclear warhead.
 - Characters can gain some remnant from Kemmler (yellow cake would be best) and use it to open a gate
   to Nazi germany, grab the V2, bring it back, and use it to defeat the big bad thing.
 - Hans Kemmler has entered into an agreement with the opener of ways.  He will prepare the way and will thwart the characters attempts to stop the Opener, in return he will get technical know-how to develop and the raw ingredients necessary to develop nuclear war heads for the v3 rocket.
 
      </p>

      <subsection>
	<subsectiontitle>Dramatis Personae</subsectiontitle>        
	<indexentry></indexentry>

      </subsection>

      <p>
      </p>
    </section>


    <section>        
      <sectiontitle>What lies below?</sectiontitle>

      <p>
	Something to do with the evil dwarves in the east?
      </p>
    </section>

    <section>        
      <sectiontitle>Kill the Competition</sectiontitle>
      <p>
	Bomb to blow up the mages
      </p>
    </section>
    
    <section>        
      <sectiontitle>Nazi Gold?</sectiontitle>

      <p>
	XXXX
      </p>
    </section>
  </chapter>
</book>
