<?xml version="1.0" encoding="utf-8"?>
<book>
  {% set MODULE_FNAME = "wendlers_shoppe_of_esoterica" %}
  {% set MODULE_NAME = "Wendler's Shoppe of Esoterica" %}
  {% set CITY_NAME = "Laibstadt" %}  
  {% set SHOPS_NAME = "Wendler's Shoppe of Esoterica" %}
  {% set SHOPKEEPS_FULLNAME = "Agilwardus Wendler" %}
  {% set SHOPKEEPS_SHORTNAME = "Wendler" %}
  {% set MAGIC_ITEMS_NAME = "Box of the Zabiniyah" %}


  {% set KING_EFREET_FULLNAME = "Abaddon" %}
  {% set DUKE_EFREET_FULLNAME = "Belphegor" %}
  {% set QUEEN_EFREET_FULLNAME = "Tisiphone" %}
  {% set VIZIER_JINN_FULLNAME = "Iblis" %}
   
  <chapter>
    <chaptertitle>{{ MODULE_NAME }}</chaptertitle>
    <section>        
      <sectiontitle>Overview</sectiontitle>

      <p>
      </p>

      <subsection>
	<subsectiontitle>Dramatis Personae</subsectiontitle>

	<descriptions>
	  <term>{{ SHOPKEEPS_FULLNAME }}</term>
	  <description>
	    Runs {{ SHOPS_NAME }}.  He is a Jinn and he has created the shop so that he may watch
	    {{ CITY_NAME }} for his masters the Efreet in the City of Brass.  {{ SHOPKEEPS_SHORTNAME }} is
	    very snooty, he likes customers who have a lot of gold and not much sense.  He will constantly
	    make snide remarks about the characters not touching items unless they plan to purchase them,
	    suggesting that perhaps they have wandered into the wrong store etc.
	  </description>

	  <term>{{ KING_EFREET_FULLNAME }}</term>
	  <description>	    
	  </description>

	  <term>{{ DUKE_EFREET_FULLNAME }}</term>
	  <description>	    
	  </description>

	  <term>{{ QUEEN_EFREET_FULLNAME }}</term>
	  <description>
	  </description>

	  <term>{{ VIZIER_JINN_FULLNAME }}</term>
	  <description>
	  </description>
	</descriptions>	
      </subsection>

      <p>
	Most of the goods in the shoppe will be non-magical.  There will be some historical books of minor interest.
	There is also the {{ MAGIC_ITEMS_NAME }} covered in a silk cloth, under some books, in a chest in the
	corner.  This item will transport the characters to the City of Brass if they trigger it.  
      </p>
    </section>


    <section>        
      <sectiontitle>{{ SHOPS_NAME }}</sectiontitle>
    </section>        
      
    
    <section>        
      <sectiontitle>The City of Brass</sectiontitle>

      <p>
	Out: recognized as possibly being agents of the prophecy and released.
      </p>


      <p>
	The Prophecy fragment..

<!-- 

 Polish off the city of brass.
 Prophesy..
madinat alnahaas


-->
      </p>
    </section>      
    
  </chapter>
</book>
