<?xml version="1.0" encoding="utf-8"?>
<book>
  {% set MODULE_FNAME = "herringsdorf" %}
  {% set MODULE_NAME = "Herringsdorf" %}
  {% set CITY_NAME = "Herringsdorf" %}
  {% set EVIL_GOD = "Father Dagon" %}

  {% set MAYOR_NAME = "Ortlip Fischer" %}

  <chapter>
    <chaptertitle>{{ MODULE_NAME }}</chaptertitle>
    <section>        
      <sectiontitle>Overview</sectiontitle>

      <subsection>
	<subsectiontitle>Dramatis Personae</subsectiontitle>        

	<descriptions>
	  <term>{{ MAYOR_NAME }}</term>
	  <description>
	    Mayor of {{ CITY_NAME }}.
	  </description>

	</descriptions>
      </subsection>


      <subsection>
	<subsectiontitle>Overview</subsectiontitle>

	<p>
	  The town are all cultists of {{ EVIL_GOD }}.	  The module should focus on the gradual realization
	  of the characters that something is not right with the village.  There's an old temple which is
	  rumoured to have treasure.  Ultimately the villagers will attempt to sacrifice the adventurers to their
	  God and hopefully the adventurers will escape.
	</p>

	<descriptions>
	  <term>Entrance (1)</term>
	  <description>
	  </description>
	</descriptions>
      </subsection>


      <subsection>
	<subsectiontitle>Intro</subsectiontitle>

	<p>
	  Keeping the characters in the town.
	  v) little Jimmy has gone missing
	  iv) looks like this might be a wreckers village
	  i) Gold in the temple.
	  ii) Help healing the sick?
	  iii) Wait for the trade ship?
	  iv) Big celebration coming
	</p>
      </subsection>


      <subsection>
	<subsectiontitle>Hall of Secrets (9)</subsectiontitle>        	
	<p>
	</p>
      </subsection>

    </section>
  </chapter>
</book>
