<?xml version="1.0" encoding="utf-8"?>
<book>
  <chapter>
    <chaptertitle></chaptertitle>
    <section>        
      <sectiontitle>The Bailiff</sectiontitle>
      <indexentry></indexentry>


      <p>
	Parts of the town..

	The Bridge
	The Tower
	The Square
	The Inn
	Temple of X
          - X
	  - Y

	Place is about 3 acres.
	(Two football fields)

	Witch
	- Daughter

	New Bailiff
	- Old Bailiff - dead.

	Priest of X
	- leaving

	Cult Leader - Black Goat.

	Cult Members..

	Old Jonah
      </p>
	

    </section>
  </chapter>
</book>
