<?xml version="1.0" encoding="utf-8"?>
<book>
  {% set MODULE_FNAME = "cyst" %}
  {% set MODULE_NAME = "Cyst" %}
 
  <chapter>
    <chaptertitle>{{ MODULE_NAME }}</chaptertitle>
    <section>        
      <sectiontitle>Overview</sectiontitle>

      <p>
turnip28
Cist is a pocket dimension chomped out of time by some creature

"Well boys looks like we've found ourselves some spies."
  - Gilfeather
  - Mangelworzel
  - Hidabeni
  - Shogoin
  - Rotwurzel
Rotwurzel has been shot.  He has a 10cm diameter through and through hole under his rib cage.  "Don't tell him, he hasn't realized yet".
Can be convinced that they've been taken over by spores from the abyss.. when they learn that they're lost
they will do what they can to help.  They have secretly known that something was wrong for years, maybe centuaries.
They forget things after a while.
Don't eat the food or drink the drink.

The characters need to get to another gate in a given amount of time..  There's a battle going on.
What happens if they don't make it?
	
      </p>

      <subsection>
	<subsectiontitle>Dramatis Personae</subsectiontitle>        
	<indexentry></indexentry>

      </subsection>

      <p>
	The cladding has not been added making it inaccurate
	Plans available which will make it easier to start	
      </p>
    </section>
  </chapter>
</book>
