<?xml version="1.0" encoding="utf-8"?>
<book>
  {% set MODULE_FNAME = "cyst" %}
  {% set MODULE_NAME = "Cyst" %}
 
  <chapter>
    <chaptertitle>{{ MODULE_NAME }}</chaptertitle>
    <section>        
      <sectiontitle>Overview</sectiontitle>

      <p>
turnip28
Cist is a pocket dimension chomped out of time by some creature

long arms are really advanced.  

"Well boys looks like we've found ourselves some spies."
  - Westhus   lieutenant, young, cleaner uniform

- Seargent Kemmerick.  Older .  Despondant.

- Gilfeather. Wears a blue uniform

- Baumer
has been shot.  He has a 10cm diameter through and through hole under his rib cage.  "Don't tell him, he hasn't realized yet".  Mildly cataleptic/Dazed.  

- Tjaden.  Mildly cataleptic.  Still wearing his Shako.


Sniper fire... roll a d12.. on a 1 you're hit for 2d8 damage.



They've been taken over by spores from the abyss.. when they learn that they're lost
they will do what they can to help.  They have secretly known that something was wrong
for years, maybe centuries.  

They forget things after a while.
Don't eat the food or drink the drink.

The characters need to get to another gate in a given amount of time..  There's a battle going on.
What happens if they don't make it?


Slug-thing
hp 3
attack spits acid..  dmg d8, d6, d4, d2  DC 15 dodge or block


Slug/hammerhead/dog.
attack spits acid twice per round..  dmg d8, d6, d4, d2  range 30,  DC 15 dodge or block
move 12 (faster than humans)  .. they'll have to charge to get into melee


Slug gargant.
The size of 15 feet, 5 meters tall.
Slow.
Fists d12 damage x2
Spits acid dmg d10, d8, d6, d4, d2  DC 15 dodge or block
      </p>

      <subsection>
	<subsectiontitle>Dramatis Personae</subsectiontitle>        
	<indexentry></indexentry>

      </subsection>

      <p>
      </p>
    </section>
  </chapter>
</book>
