<?xml version="1.0" encoding="utf-8"?>
<book>
  {% set MODULE_FNAME = "mittelwerk_x" %}
  {% set MODULE_NAME = "Mittelwerk X" %}
 
  <chapter>
    <chaptertitle>{{ MODULE_NAME }}</chaptertitle>
    <section>        
      <sectiontitle>Overview</sectiontitle>

      <p>
	The characters must infiltrate the secret Nazi base Mittelwerk X near Nordhausen
	and steal Rachewaffe (Vengence Weapon), Heilige Lanze (Holy Lance), a Vow Drei (V3) rocket prototype
	with a small tactical nuclear warhead.
      </p>

      <subsection>
	<subsectiontitle>Dramatis Personae</subsectiontitle>        
	<indexentry></indexentry>

      </subsection>

      <p>
	The cladding has not been added making it inaccurate
	Plans available which will make it easier to start	
      </p>
    </section>
  </chapter>
</book>
